<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=KvHqVdM8sXVZzmSErIyPy65ztYDTyloE" #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1657963683,
 'base': 'EUR',
 'date': '2022-07-16',
 'rates': {'AED': 3.70504,
  'AFN': 88.794292,
  'ALL': 117.368213,
  'AMD': 417.014897,
  'ANG': 1.818505,
  'AOA': 435.670337,
  'ARS': 129.524587,
  'AUD': 1.48614,
  'AWG': 1.813128,
  'AZN': 1.718785,
  'BAM': 1.961985,
  'BBD': 2.037392,
  'BDT': 94.799811,
  'BGN': 1.957583,
  'BHD': 0.380751,
  'BIF': 2077.347153,
  'BMD': 1.008695,
  'BND': 1.415231,
  'BOB': 6.937164,
  'BRL': 5.454822,
  'BSD': 1.009066,
  'BTC': 4.8956148e-05,
  'BTN': 80.543585,
  'BWP': 12.920062,
  'BYN': 2.54689,
  'BYR': 19770.412687,
  'BZD': 2.033981,
  'CAD': 1.314919,
  'CDF': 2019.91474,
  'CHF': 0.985381,
  'CLF': 0.038411,
  'CLP': 1059.886171,
  'CNY': 6.816157,
  'COP': 4442.139383,
  'CRC': 689.162072,
  'CUC': 1.008695,
  'CUP': 26.730405,
  'CVE': 110.612017,
  'CZK': 24.502102,
  'DJF': 179.265588,
  'DKK': 7.442657,
  'DOP': 55.083812,
  'DZD': 148.641025,
  'EGP': 19.070584,
  'ERN': 15.130418,
  'ETB': 52.666628,
  'EUR': 1,
  'FJD': 2.249641,
  'FKP': 0.849661,
  'GBP': 0.85086,
  'GEL': 2.965956,
  'GGP': 0.849661,
  'GHS': 8.198521,
  'GIP': 0.849661,
  'GMD': 54.56068,
  'GNF': 8752.960206,
  'GTQ': 7.810002,
  'GYD': 211.112312,
  'HKD': 7.918156,
  'HNL': 24.806825,
  'HRK': 7.508323,
  'HTG': 116.925825,
  'HUF': 400.926204,
  'IDR': 15126.736137,
  'ILS': 3.494713,
  'IMP': 0.849661,
  'INR': 80.413838,
  'IQD': 1472.795431,
  'IRR': 42718.213482,
  'ISK': 138.917799,
  'JEP': 0.849661,
  'JMD': 153.087137,
  'JOD': 0.715204,
  'JPY': 139.73597,
  'KES': 119.278516,
  'KGS': 81.673395,
  'KHR': 4122.19799,
  'KMF': 468.664733,
  'KPW': 907.825064,
  'KRW': 1330.468431,
  'KWD': 0.310718,
  'KYD': 0.840955,
  'KZT': 486.416008,
  'LAK': 15169.490453,
  'LBP': 1525.686457,
  'LKR': 363.280109,
  'LRD': 153.829722,
  'LSL': 15.978106,
  'LTL': 2.978413,
  'LVL': 0.61015,
  'LYD': 4.917628,
  'MAD': 10.533145,
  'MDL': 19.49476,
  'MGA': 4248.588877,
  'MKD': 61.749342,
  'MMK': 1868.368833,
  'MNT': 3172.001316,
  'MOP': 8.159123,
  'MRO': 360.103772,
  'MUR': 45.604006,
  'MVR': 15.483843,
  'MWK': 1035.690217,
  'MXN': 20.711933,
  'MYR': 4.487721,
  'MZN': 64.385352,
  'NAD': 15.978102,
  'NGN': 419.015465,
  'NIO': 36.179504,
  'NOK': 10.260142,
  'NPR': 128.877626,
  'NZD': 1.635534,
  'OMR': 0.388911,
  'PAB': 1.009066,
  'PEN': 3.940763,
  'PGK': 3.601431,
  'PHP': 56.779793,
  'PKR': 212.670103,
  'PLN': 4.781162,
  'PYG': 6921.915766,
  'QAR': 3.672696,
  'RON': 4.939077,
  'RSD': 117.464104,
  'RUB': 57.495931,
  'RWF': 1040.785201,
  'SAR': 3.787587,
  'SBD': 8.230916,
  'SCR': 13.283731,
  'SDG': 460.472761,
  'SEK': 10.582117,
  'SGD': 1.411734,
  'SHP': 1.38938,
  'SLL': 13284.507234,
  'SOS': 589.585648,
  'SRD': 22.703196,
  'STD': 20877.940118,
  'SVC': 8.829701,
  'SYP': 2534.374683,
  'SZL': 17.335887,
  'THB': 36.930362,
  'TJS': 10.393206,
  'TMT': 3.540518,
  'TND': 3.09014,
  'TOP': 2.385613,
  'TRY': 17.554958,
  'TTD': 6.853802,
  'TWD': 30.184213,
  'TZS': 2352.27597,
  'UAH': 29.815739,
  'UGX': 3804.134513,
  'USD': 1.008695,
  'UYU': 41.462077,
  'UZS': 11049.344533,
  'VND': 23658.93008,
  'VUV': 119.929769,
  'WST': 2.744628,
  'XAF': 658.034465,
  'XAG': 0.053921,
  'XAU': 0.000591,
  'XCD': 2.726048,
  'XDR': 0.771736,
  'XOF': 658.021376,
  'XPF': 114.134153,
  'YER': 252.426172,
  'ZAR': 17.240551,
  'ZMK': 9079.464781,
  'ZMW': 16.573595,
  'ZWL': 324.799225}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [25]:
# Turn the data into a dataframe
df = pd.DataFrame(response.json())
df.head()

     success   timestamp base        date       rates
AED     True  1657963683  EUR  2022-07-16    3.705040
AFN     True  1657963683  EUR  2022-07-16   88.794292
ALL     True  1657963683  EUR  2022-07-16  117.368213
AMD     True  1657963683  EUR  2022-07-16  417.014897
ANG     True  1657963683  EUR  2022-07-16    1.818505

In [26]:
# Drop unnescessary columns
df.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
df.head()

          rates
AED    3.705040
AFN   88.794292
ALL  117.368213
AMD  417.014897
ANG    1.818505

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [28]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).